

@model BOL.DTO.IndexDTO;


<section>
    <div class="card">

        <div class="card-body row justify-content-between">

            <div class="bg-white col-4 mx-1">
                <h5 class="card-title">Clientes</h5>

                <div class="row justify-content-around">

                    <div class="card-text">
                        <p class="card-text">@Model.TotalClientes</p>
                    </div>
                    <ul>
                        <li>Classe <small class="money-badge green">A</small> : @Model.ClientesClasseA</li>
                        <li>Classe <small class="money-badge yellow">B</small>: @Model.ClientesClasseB</li>
                        <li>Classe <small class="money-badge red">C</small>: @Model.ClientesClasseC</li>
                    </ul>

                </div>

            </div>

            <div class="bg-white col-3 mx-1">
                <h5 class="card-title">Maior Que 18</h5>
                <p class="card-text">@Model.ClientesBiggerThanEighteen</p>
            </div>

            <div class="bg-white col-3 mx-1">
                <h5 class="card-title">
                    Maior que 18 anos e com Renda maior que a media
                </h5>
                <p class="card-text"> @Model.NumbersOfClientesBiggerThanEighteenWithRendaFamiliarBiggerThenMedia </p>
            </div>


        </div>

    </div>
</section>